:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --activ-color: #2196F3;
  --back-color: #2F303A;
  --text-color: #FFFFFF;
  --opacity-color: color: rgba(255, 255, 255, 0.6);
  --main-bgcolor: #F5F5F5;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--main-bgcolor);
}

/* header */

.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo-part {
  color: var(--activ-color);
}

.logo-bottom {
  color: var(--text-color);
}

.list {
  list-style: none;
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}

.current {
  color: var(--activ-color);
}

.link:hover,
.link:focus {
  color: var(--activ-color);
}

.contact-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
}

.hero {
  background-color: var(--back-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
  text-align: center;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-color);
  cursor: pointer;
  border: 1px solid var(--activ-color);
  background-color: var(--activ-color);
  text-align: center;
  border-radius: 4px;
}

.features-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  line-height: 1.71;
  color: var(--secondary-color);
}

.profile-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
}

.profile-speciality {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
}

/* footer  */

.footer {
  background-color: var(--back-color);
}

.footer-link {
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  color: var(--text-color);
}

.footer-opacity {
  color: var(--opacity-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--activ-color);
}

/* portfolio */

.portfolio-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: inherit;
  border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--activ-color);
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
}